version: "3.9"

services:
  db:
    image: postgres:15
    container_name: tg_db
    env_file: .env      # <- путь к твоему .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  bot:
    build:
      context: ..
      dockerfile: devops/Dockerfile
    container_name: tg_bot
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ..:/app
    working_dir: /app
    command: >
      sh -c "alembic upgrade head && python -m app.main"

volumes:
  pgdata:
